body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

nav {
  background-color: #444;
  color: #fff;
  padding: 10px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
}

a {
  color: white;
  text-decoration: none;
}

section.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}
.product {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  margin: 10px;
  padding: 20px;
  text-align: center;
  max-width: 300px;
}

.product img {
  max-width: 100%;
}

.actions {
  margin-top: 20px;
}

.search-container {
  display: flex;
  /* flex-direction: row-reverse; */
  justify-content: end;
  padding-top: 10px;
  gap: 5px;
}

#searchInput {
  width: 25%;
}

/* For Registration Form  */
.regisstration {
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
